@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">Privacy Policy</h1>
            <hr />
            <p>Welcome to our Privacy Policy page. This page is meant to inform you about our policies regarding the collection, use, and disclosure of personal data when you use our website.</p>
            <p>We use your data to provide and improve the service. By using the service, you agree to the collection and use of information in accordance with this policy.</p>
            <h2>Information Collection and Use</h2>
            <p>We collect several different types of information for various purposes to provide and improve our service to you.</p>
            <h3>Types of Data Collected</h3>
            <ul>
                <li>Personal Data</li>
                <li>Usage Data</li>
                <li>Tracking & Cookies Data</li>
            </ul>
            <h2>Use of Data</h2>
            <p>We use the collected data for various purposes, including:</p>
            <ul>
                <li>To provide and maintain the service</li>
                <li>To notify you about changes to our service</li>
                <li>To allow you to participate in interactive features of our service</li>
                <li>To provide customer care and support</li>
                <li>To provide analysis or valuable information so that we can improve the service</li>
                <li>To monitor the usage of the service</li>
                <li>To detect, prevent, and address technical issues</li>
            </ul>
            <h2>Security of Data</h2>
            <p>The security of your data is important to us, but remember that no method of transmission over the Internet or method of electronic storage
